/* 
    Document   : charts_style
    Created on : 31.3.2013, 18:35:
    Author     : златко
    Description:
        Purpose of the stylesheet follows.
*/
.floatLeft{float:left;}
.floatRight{float:right;}
.clearBoth{clear:both;}

.posAbs{position:absolute;}
.posRel{position:relative;}

.displayNone{display:none;}

.color_orange{color:#f89834;}
.color_blue{color:#0166fe;}


.marginLeft10px{margin-left: 10px;}
.marginLeft50px{margin-left: 50px;}