body
{
    padding:0px;
    margin:0px;
    font-family: "dejavu serif condensed";
    font-size:12px;
}

.top_left_title
{
    position:absolute;
    left:0px;
    top:0px;
    font-size:20px;
    font-weight: normal;
}

.last_date_label
{
    position:absolute;
    top:160px;
    left:150px;
    font-weight: bold;
}

.top_filter_results_holder
{
    position: absolute;
    top:100px;
}

.line_horizontal_A
{
    height: 30px;
    background-color: #f89876;
    text-align: right;
}
.line_horizontal_B
{
    height: 30px;
    background-color: #0166f6;
    text-align: right;
    border-top: solid 1px #000000;
}
.line_horizontal_percent_right
{
    padding-left: 5px;
    line-height: 20px;
    position:absolute;
}
.parce_for_xNLine
{
    text-align: center;
    height: 30px;
    position: absolute;
    line-height: 20px;
    overflow: hidden;
}
.parce_for_xNLineB
{
    border-top: solid 1px #000000;
}

.line_title_draw
{
    position:absolute;
    width:150px;
}

.average_form
{
    position:absolute;
    background-color: #ffffff;
    border:solid 1px #cccccc;
    top:40px;
    left:0px;
    padding:10px;
    width:120px;
}
.average_form .result_average
{
    font-size:20px;
}

.absolute{position:absolute;}
.relative{position:relative;}

.floatLeft{float:left;}
.floatRight{float:right;}
.clear{clear: both;}